<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            CRUD Mastery
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/main/about">About</a></li>
            <li><a href="/main/departments">Departments</a></li>
            <li><a href="/main/roles">Roles</a></li>
            <li><a href="/main/profiles">Profiles</a></li>
            <li><a href="/main/permissions">Permissions</a></li>
            <li><a href="/main/categories">Categories</a></li>
            <li><a href="/main/current-businesses">Current Businesses</a></li>
            <li><a href="/main/users">Users</a></li>
            <li><a href="/main/posts">Posts</a></li>
        </ul>
    </div>

</div>
</nav>