 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Current Business Name:<br>
              <input type="text" name="current_business_name" value="" placeholder="Current Business Name">
              <br><br>
              <input type="submit" value="Create Current Business">
            </form>
        </div>
    </div>