<div class="">
<h1>Details of a Single current business name - <%= currentBusiness.current_business_name %>   </h1>
<p>I am an currentBusiness for this ID = <%= currentBusiness.id %></p>
<a href="/main/current-business/<%= currentBusiness.id %>/update">Edit  Current Business</a> | <a href="/main/current-business/<%= currentBusiness.id %>/delete">Delete Current Business</a>
</div>