<div class="col-sm-8">    
    <div class="">
    <ol>
    <% categories.forEach(function(category) { %>
            <li>
                <h4><a href="/main/category/<%= category.id %>"><%= category.category_name %></a></h4>
                 <a href="/main/category/<%= category.id %>/update">Edit  Category</a> | <a href="/main/category/<%= category.id %>/delete">Delete Category</a>
            </li>
        <br/>
    <% }); %>
    </ol>
</div>
<a href="/main/category/create"> CLICK HERE TO CREATE CATEGORY</a>
</div>