 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Category Name:<br>
              <input type="text" name="category_name" value="" placeholder="Category Name">
              <br><br>
              <input type="submit" value="Create Category">
            </form>
        </div>
    </div>