<div class="">
<h1>Details of a Single profile - <%= profile.profile_name %>   </h1>
<p>I am a profile for this ID = <%= profile.id %></p>
<a href="/main/profile/<%= profile.id %>/update">Edit  Profile</a> | <a href="/main/profile/<%= profile.id %>/delete">Delete Profile</a>
</div>