 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Profile Name:<br>
              <input type="text" name="profile_name" value="" placeholder="Profile Name">
              <br><br>
              <input type="submit" value="Create Profile">
            </form>
        </div>
    </div>