<%- contentFor('main-content') %>
<h1><%=title%></h1>
<p>Welcome to <%=title%></p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet tellus quis turpis facilisis porta. Maecenas nulla mi, pharetra quis tincidunt vel, laoreet eu est. Phasellus tellus purus, dictum et arcu ut, eleifend aliquet purus. Sed a fermentum
    tortor. Duis bibendum enim lectus, quis pharetra lectus dignissim in. Mauris ut libero elit. Nulla nec vulputate mauris. In volutpat orci nec lacinia aliquet. In ipsum risus, dictum ut augue eget, consectetur tempus justo. Class aptent taciti sociosqu
    ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sed rhoncus metus. Nulla venenatis tincidunt nisi at pellentesque. Praesent efficitur sem sit amet orci condimentum, at consequat leo viverra. Nam condimentum arcu a sapien varius,
    sit amet mattis urna aliquam. Integer facilisis leo sit amet quam dignissim, eget pharetra sem mattis. Aliquam mi risus, consequat ut dapibus vel, porttitor eu nunc.
</p>