<div class="">
<h1>Details of a Single role -  <%= role.role_name %> </h1>
<p>I am role for this ID = <%= role.id %></p>
<a href="/main/role/<%= role.id %>/update">Edit  Role</a> | <a href="/main/role/<%= role.id %>/delete">Delete Role</a>
</div>