<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/main/role/<%= role.id %>/update" method="post">
               Role Name:<br>
              <input type="text" name="role_name" value="<%= role.role_name %>">
              <br><br>
              <input type="submit" value="Update Role">
            </form>
        </div>
</div>