 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Role Name:<br>
              <input type="text" name="role_name" value="" placeholder="Role Name">
              <br><br>
              <input type="submit" value="Create Role">
            </form>
        </div>
    </div>