 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Permission Name:<br>
              <input type="text" name="permission_name" value="" placeholder="Permission Name">
              <br><br>
              <input type="submit" value="Create Permission">
            </form>
        </div>
    </div>