<div class="">
<h1>Details of a Single Permission -  <%= permission.permission_name %> </h1>
<p>I am Permission for this ID = <%= permission.id %></p>
<a href="/main/permission/<%= permission.id %>/update">Edit  Permission</a> | <a href="/main/permission/<%= permission.id %>/delete">Delete Permission</a>
</div>