 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Department Name:<br>
              <input type="text" name="department_name" value="" placeholder="Department Name">
              <br><br>
              <input type="submit" value="Create Department">
            </form>
        </div>
    </div>