<div class="">
<h1>Details of a Single department - <%= department.first_name %>   </h1>
<p>I am an department for this ID = <%= department.id %></p>
<a href="/main/department/<%= department.id %>/update">Edit  Department</a> | <a href="/main/department/<%= department.id %>/delete">Delete Department</a>
</div>